.layout {
    width: 100vw;
    height: 100vh;
    @include flexCenter(row);
    color: $white;

    .left {
        flex: 7;
        @media only screen and (max-width: 600px) {
            flex: 0;
            height: 0vh;
            width: 0vw;
            overflow: hidden;
        }

        @include flexCenter(column);
        height: 100%;
        background-color: white;

        .sponsors {
            flex: 27;
            width: 100%;
            height: 100%;
            background-color: black;
            color: white;
            @include flexCenter(column);
        }
    }
}