.status-container {
    color: $white;

    font-size: 8pt;
    padding-bottom: 16px;

    .time {
        mix-blend-mode: overlay;
        font-weight: 800;
        font-size: 32pt;
    }

    .temp {
        mix-blend-mode: overlay;
        font-weight: 400;
        font-size: 16pt;
        text-transform: uppercase;
    }

    .date {
        mix-blend-mode: overlay;
        font-weight: 400;
        font-size: 16pt;
        margin: 0;
    }

    .emoji {
        font-size: 14pt;
        mix-blend-mode: normal;
    }

    .location {
        mix-blend-mode: overlay;
        margin-top: 12px;
        font-weight: 300;
        font-size: 14pt;
        margin: 0;
        display: inline;
    }
}