.status-container {
    color: $white;

    font-size: 12pt;
    padding-bottom: 24px;

    .time {
        mix-blend-mode: overlay;
        font-weight: 800;
        font-size: 42pt;
    }

    .temp {
        mix-blend-mode: overlay;
        font-weight: 400;
        font-size: 24pt;
        text-transform: uppercase;
    }

    .date {
        mix-blend-mode: overlay;
        font-weight: 400;
        font-size: 24pt;
        margin: 0;
    }

    .emoji {
        font-size: 20pt;
        mix-blend-mode: normal;
    }

    .location {
        mix-blend-mode: overlay;
        margin-top: 12px;
        font-weight: 300;
        font-size: 20pt;
        margin: 0;
        display: inline;
    }
}