// Satelec 2023 color palette

$white: #ffffff;
$black: #000000;

$orange: #f9650d;
$lightOrange: #ffc3a9;
$lighterOrange: #ffe1cc;

$blue: #1fb9f5;
$lightBlue: #a9e8fc;
$lighterBlue: #d9f5ff;

$darkGrey: #646464;
$lightGrey: #ada7a9;
$lighterGray: #e5dde0;

$yellow: #fff600;
$lightYellow: #fff7c7;

$purple: #bd6de8;
$lightPurple: #ddc3df;

$green: #30c487;
$lightGreen: #00ffa6;
$lighterGreen: #c2ffe0;
